{% extends 'base.html.twig' %}

{% block title %}Hello AuthenticationController!{% endblock %}

{% block body %}
    <h1>Регистрация</h1>

    {% for message in app.flashes('success') %}
        <div class="flash-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password.first) }}
        {{ form_row(form.password.second) }}

        <button type="submit">Зарегистрироваться</button>
    {{ form_end(form) }}

{% endblock %}
